<!DOCTYPE html>
<html>
  <head>
    <title>Proto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <% if member_signed_in? %>
          <span>member : <%= current_member.email %></span>
        <% end %>
        <span class="notice"><%= notice %></span>
        <span class="alert"><%= alert %></span>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
