<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <div class="col-md-8 col-md-offset-2">
      <h1>Claims#new</h1>
      <%= form_for @claim do |f| %>
      <%#関係商品を選べるようにする%>
<%#        <div class="form-group">
          <%= f.label :accident_date %>
<%#          <%= f.select Product, :product.name, class: 'form-control' %>
<%#        </div>
%>
        <div class="form-group">
          <%= f.label :accident_date %>
          <%= f.datetime_select :claim_datetime_at, :discard_hour => true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <%= f.submit 'submission', class: 'btn btn-black btn-block' %>
      <% end %>
      <p>
        <%= link_to "home", home_index_path %>
      </p>

    </div>
  </div>
</div>
